<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestiae, explicabo quos laudantium quibusdam
      ad? Ea deleniti aut vitae ducimus.</p>
  </div>
</section>