<h1>TAMOS NAVEGANDO</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem nostrum eius eligendi dignissimos error beatae similique numquam quidem, culpa itaque quas explicabo sequi, deserunt quaerat minus maiores ipsam et delectus.</p>
  <h1>Footer</h1>